<!DOCTYPE html>
{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title> Find the latest news as the happen from all around</title>
        {% endif %}

    </head>
    <body>
        {% block content %}
        <h1>Watch news within and beyond your borders </h1>
            <h3>Top Headlines</h3>
            <ul>
                {{ macro.displayNewsList(everything) }}
            </ul>

        {% endblock %}
    </body>
</html>
